{%extends "base.html "%} 

{% block content %}
<br />
<h1 align="center"><u>Cashew Butter</u> 🏇🏾 </h1>

<h4 align="center"> A Horse Racing Ownership Simulation Experience.</h4>

<form method="POST">
  <div class="form-group">
    <label for="email">Email.</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />

    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </div>
</form>
{% endblock %}
